@model RevAppoint.Client.Models.UserModel;

@{
    ViewData["Title"] = "ProfessionalHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Note that this will break when we route back to the ProfessionalHome method (since we're only passing a username) *@
<h2>Hello, @Model.FirstName</h2> 

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">View My Profile</h4>
        <p class="card-text">View and Edit your information</p>
        @using (@Html.BeginForm("ViewProfile", "Professional",new {id = @Model.Username}, FormMethod.Get))
        {
          <input class = "customButton" type="submit" value="View My Profile"/>
        }
      </div>
    </div>
  </div>
  <div class="col-md-6">
        <div class="card">
      <div class="card-body">
        <h4 class="card-title">Current Appointments</h4>
        <p class="card-text">View active appointments that have been accepted by you</p>
        @using (@Html.BeginForm("CurrentAppointments", "Professional",new {id = @Model.Username}, FormMethod.Get))
        {
          <input class = "customButton" type="submit" value="Accepted"/>
        }
      </div>
    </div>
        <div class="card">
      <div class="card-body">
        <h4 class="card-title">Pending Appointments</h4>
        <p class="card-text">View active appointments and decide to decline or accept</p>
        @using (@Html.BeginForm("PendingAppointments", "Professional",new {id = @Model.Username}, FormMethod.Get))
        {
          <input class = "customButton" type="submit" value="Pending"/>
        }
      </div>
    </div>
        <div class="card">
      <div class="card-body">
        <h4 class="card-title">Appointment History</h4>
        <p class="card-text">View the pass appointments that have been completed</p>
        @using (@Html.BeginForm("AppointmentHistory", "Professional",new {id = @Model.Username}, FormMethod.Get))
        {
          <input class = "customButton" type="submit" value="History"/>
        }
      </div>
    </div>
  </div>
</div>


