@model RevAppoint.Client.Models.AppointmentViewModel;

@* <p>Hello @Model.Customer.FirstName</p> *@

@using (Html.BeginForm("SetAppointment", "Customer",FormMethod.Post))
{
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">Schedule an Appointment</div>
         <div class="panel-body">
            <div class="row">
               <div class='col-md-6'>
                  <div class="form-group">
                     <label class="control-label">Appointment Time</label>
                     <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="StartTime" id="StartTime"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class = "col">
                  <p><b>Chosen Professional:</b> @Model.ProfessionalUsername</p>
                  <p><b>Appointment Length:</b> @Model.AppointmentLengthInHours hours</p>
                  <p><b>Appointment Cost:</b> $@Model.HourlyRate per hour</p>
               </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
         </div>
      </div>
   </div>
   <input name = "CustomerUsername" value = @Model.CustomerUsername hidden ="true">
   <input name = "ProfessionalUsername" value = @Model.ProfessionalUsername hidden ="true">
   <input name = "HourlyRate" value = @Model.HourlyRate hidden ="true">
   <input name = "AppointmentLengthInHours" value = @Model.AppointmentLengthInHours hidden ="true">

   
}
