@model RevAppoint.Client.Models.AppointmentViewModel;

<h2>Current Appointments</h2>
<br>
<table style="width:100%">
  <tr>
    <td><u>Job</u></td>
    <td><u>Name</u></td> 
    <td><u>Start Time</u></td>
    <td><u>Estimated End Time</u></td>
    <td><u>Status</u></td>
    <td><u>Completed</u></td>
  </tr>
  @foreach (var item in Model.Appointments)
  {
    <tr>
    <td><p>@item.Professional.Title</p></td>
    <td><p>@item.Professional.FirstName @item.Professional.LastName</p></td>
    <td><p>@item.Time.Start.ToString("MM/dd/yyyy hh:mm tt")</p></td>
    <td><p>@item.Time.End.ToString("MM/dd/yyyy hh:mm tt")</p></td>
    <td>
      @if(@item.IsAccepted)
      {
        <p>Accepted</p>
      }
      else
      {
        <p>Not Accepted</p>
      }
    </td>
    <td>
      @if(@item.IsFufilled)
      {
        <p>Yes</p>
      }
      else
      {
        <p>No</p>
      }
    </td>
    </tr>
    
}
</table>

@using (@Html.BeginForm("Home", "Customer", new {username = @Model.CustomerUsername},FormMethod.Get))
{
  <input class = "customButton" type="submit" value="Home"/>
}