@model RevAppoint.Client.Models.CustomerViewModel;
<link href="~/css/grid.css" rel="stylesheet">

<h2><u>Choose a Professional</u></h2>
<br>
<table id = "appointment" style="width:100%">
  <tr>
    <td>Title</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Location</td>
    <td>Make a Choice</td>
  </tr>
  @foreach (var item in Model.ListOfProfessionals)
  {
    <tr>
      <td>@item.Title</td>
      <td>@item.FirstName</td>
      <td>@item.LastName</td>
      <td>@item.Location</td>
        @using (@Html.BeginForm("ViewProfessional", "Customer", FormMethod.Get))
        {
          <input name="Username" value= @Model.Username hidden ="true">
          <input name="SearchedProfessionalsUsername" value =@item.Username hidden="true">
          <td><input class = "customButton" type="submit" value="Select Professional"/></td>
        }
    </tr>
    
}
</table>
