@model RevAppoint.Client.Models.CustomerViewModel;


<h2>Choose a Professional</h2>

<br>
<table style="width:100%">
  <tr>
    <td><u>Title</u></td>
    <td><u>First Name</u></td>
    <td><u>Last Name</u></td>
    <td><u>Location</u></td>
    <td><u></u></td>
  </tr>
  @foreach (var item in Model.ListOfProfessionals)
  {
    <tr>
      <td>@item.Title</td>
      <td>@item.FirstName</td>
      <td>@item.LastName</td>
      <td>@item.Location</td>
        @using (@Html.BeginForm("ViewProfessional", "Customer", FormMethod.Get))
        {
          <input name="Username" value= @Model.Username hidden ="true">
          <input name="SearchedProfessionalsUsername" value =@item.Username hidden="true">
          <td><input class = "customButton" type="submit" value="Select Professional"/></td>
        }
    </tr>
    
}
</table>
