@model RevAppoint.Client.Models.CustomerViewModel;

@{
    ViewData["Title"] = "Selected Professional Info";
}

@using (@Html.BeginForm("CreateAppointment", "Customer", FormMethod.Get))
{
  var prof = @Model.Professional;
  <div class="card">
  <img class="card-img-top" src="https://e7.pngegg.com/pngimages/866/261/png-clipart-stoick-the-vast-how-to-train-your-dragon-toothless-toothless-carnivoran-dragon.png" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">@prof.FirstName @prof.LastName</h4>
    <label>Bio:</label>
    <p class="card-text">@prof.Bio </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <label>Username:</label>
      <p class="card-text">@prof.Username</p>
    </li>
    <li class="list-group-item">
      <label>Title:</label>
      <p class="card-text">@prof.Title</p>
    </li>
    <li class="list-group-item">
      <label>Spoken Language:</label>
      <p class="card-text">@prof.Language</p>
    </li>
    <li class="list-group-item">
      <label>Locaton:</label>
      <p class="card-text">@prof.Location</p>
    </li>
    <li class="list-group-item">
      <label>HourlyRate:</label>
      <p class="card-text">@prof.HourlyRate</p>
    </li>
    <li class="list-group-item">
      <label>Joined on:</label>
      <p class="card-text">@prof.MemberSince.ToString("MM/dd/yyyy")</p>
    </li>
  </ul>
  <div class="card-body">
    <input class = "customButton" type="submit" value="Create Appointment"/>
  </div>
</div>
  <input name = "Username" value = @Model.Username hidden ="true">
  <input name = "SearchedProfessionalsUsername" value = @Model.SearchedProfessionalsUsername hidden ="true"> 
}
