@model RevAppoint.Client.Models.AppointmentViewModel;
<link href="~/css/grid.css" rel="stylesheet">
<h2><u>Appointment History</u></h2>
@using (@Html.BeginForm("Home", "Customer", new {username = @Model.CustomerUsername},FormMethod.Get))
{
  <input class = "customButton" type="submit" value="Home"/>
}
<br>
<table id = "appointment" style="width:100%">
  <tr>
    <td>Job</td>
    <td>Name</td> 
    <td>Start Time</td>
    <td>Estimated End Time</td>
    <td>Status</td>
    <td>Completed</td>
  </tr>
  @foreach (var item in Model.Appointments)
  {
    <tr>
    <td><p>@item.Professional.Title</p></td>
    <td><p>@item.Professional.FirstName @item.Professional.LastName</p></td>
    <td><p>@item.Time.Start.ToString("MM/dd/yyyy hh:mm tt")</p></td>
    <td><p>@item.Time.End.ToString("MM/dd/yyyy hh:mm tt")</p></td>
    <td>
      @if(@item.IsAccepted)
      {
        <p>Accepted</p>
      }
      else
      {
        <p>Not Accepted</p>
      }
    </td>
    <td>
      @if(@item.IsFufilled)
      {
        <p>Yes</p>
      }
      else
      {
        <p>No</p>
      }
    </td>
    </tr>
    
}
</table>

