@model RevAppoint.Client.Models.CustomerViewModel;

Choose a Professional

<p>Username = @Model.Username</p>
<p>SearchParam = @Model.SearchParam</p>

<br>
<table style="width:100%">
  <tr>
    <td><u>Title</u></td>
    <td><u>First Name</u></td>
    <td><u>Last Name</u></td>
    <td><u>Location</u></td>
    <td><u></u></td>
  </tr>
  @foreach (var item in Model.ListOfProfessionals)
  {
    <tr>
      <td>@item.Title</td>
      <td>@item.FirstName</td>
      <td>@item.LastName</td>
      <td>@item.Location</td>
        @using (@Html.BeginForm("ViewProfessional", "Customer", FormMethod.Post))
        {
          <input name="Username" value= @Model.Username hidden ="true">
          <input name="SearchedProfessionalsUsername" value =@item.Username hidden="true">
          //Need to add more to the model here!!!!
          <td><input type="submit" value="Select Professional"/></td>
        }
    </tr>
    
}
</table>
