@model RevAppoint.Client.Models.AppointmentViewModel;

Appointment History

<br>
<table style="width:100%">
  <tr>
    <td><u>Appointment ID</u></td>
    <td><u>Professional Name</u></td> @*Override toString method here?*@
    <td><u>Is Fufilled</u></td>
    <td><u>Start Time</u></td>
    <td><u>End Time</u></td>
  </tr>
  @foreach (var item in Model.Appointments)
  {
    <tr>
    <td>@item.EntityID</td>
    <td>@item.Professional.FirstName</td>
    <td>@item.IsFufilled</td>
    <td>@item.Time.Start.ToString("MM/dd/yyyy hh:mm tt")</td>
    <td>@item.Time.End.ToString("MM/dd/yyyy hh:mm tt")</td>
    </tr>
    
}
</table>

@using (@Html.BeginForm("Home", "Customer", new {username = @Model.CustomerUsername},FormMethod.Get))
{
  <input type="submit" value="Home"/>
}