@model RevAppoint.Client.Models.AppointmentViewModel;

<h2><u>Appointment History</u></h2>
<link href="~/css/grid.css" rel="stylesheet">
@using (@Html.BeginForm("ProfessionalHome", "Professional",new {id = @Model.ProfessionalUsername}, FormMethod.Get))
{
  <input name ="Username" value = @Model.ProfessionalUsername hidden = "true">
  <input class = "customButton" type="submit" value="Home"/>
}
<br>
<table id = "appointment" style="width:100%">
  <tr>
    <td>Start Time</td>
    <td>Estimated End Time</td>
    <td>Status</td>
    <td>Completed</td>
  </tr>
  @foreach (var item in Model.Appointments)
  {
    <tr>
    <td><p>@item.Time.Start.ToString("MM/dd/yyyy hh:mm tt")</p></td>
    <td><p>@item.Time.End.ToString("MM/dd/yyyy hh:mm tt")</p></td>
    <td>
      @if(@item.IsAccepted)
      {
        <p>Accepted</p>
      }
      else
      {
        <p>Not Accepted</p>
      }
    </td>
    <td>
      @if(@item.IsFufilled)
      {
        <p>Yes</p>
      }
      else
      {
        <p>No</p>
      }
    </td>
    </tr>
    
}
</table>


