@model RevAppoint.Client.Models.AppointmentViewModel;

Hello Professional: @Model.ProfessionalUsername

<p>Current Appointment Page</p>

<br>
<table style="width:100%">
  <tr>
    <td><u>Appointment ID</u></td>
    @*<td><u>Professional Name</u></td>*@ @*Override toString method here?*@
    <td><u>Is Fufilled</u></td>
    <td><u>Start Time</u></td>
    <td><u>End Time</u></td>
    <td><u>Unaccept</u></td>
    @* <td><u>View Client</u></td> *@
    <td><u>Completed</u></td>
  </tr>
  @foreach (var item in Model.Appointments)
  {
    <tr>
    <td>@item.EntityID</td>
    @*<td>@item.Professional.FirstName</td>*@
    <td>@item.IsFufilled</td>
    <td>@item.Time.Start.ToString("MM/dd/yyyy hh:mm tt")</td>
    <td>@item.Time.End.ToString("MM/dd/yyyy hh:mm tt")</td>
    <td>
    @using (@Html.BeginForm("AcceptAppointment", "Professional", FormMethod.Post))
    {
      <input name ="ProfessionalUsername" value = @Model.ProfessionalUsername hidden = "true">
      <input name ="AppointmentID" value = @item.EntityID hidden = "true">
      <input class = "customButton" type="submit" value="Unaccept"/>
    }
    </td>
    @* <td>
    @using (@Html.BeginForm("ClientView", "Professional",new {id = @Model.ProfessionalUsername}, FormMethod.Get))
    {
      <input name ="ProfessionalUsername" value = @Model.ProfessionalUsername hidden = "true">
      
      <input type="submit" value="View Client"/>
    }
    </td> *@
    <td>
    @using (@Html.BeginForm("CompleteAppointment", "Professional", FormMethod.Post))
    {
      <input name ="ProfessionalUsername" value = @Model.ProfessionalUsername hidden = "true">
      <input name ="AppointmentID" value = @item.EntityID hidden = "true">
      <input class = "customButton" type="submit" value="Completed"/>
    }
    </td>
    </tr>
}
</table>

@using (@Html.BeginForm("ProfessionalHome", "Professional",new {id = @Model.ProfessionalUsername}, FormMethod.Get))
{
  <input name ="Username" value = @Model.ProfessionalUsername hidden = "true">
  <input class = "customButton" type="submit" value="Home"/>
}

