@model RevAppoint.Client.Models.ProfessionalViewModel;

<h2>Account Infomation</h2>

<section id="AccountInfo" class="col">
    <div class="card">
        <img class="card-img-top" src="https://placeimg.com/640/480/nature" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">@Model.Professional.FirstName @Model.Professional.LastName</h4>
            <label class="card-text">Bio:</label>
            <p class="card-text">@Model.Professional.Bio </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label class="card-text">Username:</label>
                <p class="card-text">@Model.Professional.Username</p>
            </li>
            <li class="list-group-item">
                <label class="card-text">Title:</label>
                <p class="card-text">@Model.Professional.Title</p>
            </li>
            <li class="list-group-item">
                <label class="card-text">Spoken Language:</label>
                <p class="card-text">@Model.Professional.Language</p>
            </li>
            <li class="list-group-item">
                <label class="card-text">Locaton:</label>
                <p class="card-text">@Model.Professional.Location</p>
            </li>
            <li class="list-group-item">
                <label class="card-text">Appointment Length (Hours):</label>
                <p class="card-text">@Model.Professional.AppointmentLengthInHours</p>
            </li>
            <li class="list-group-item">
                <label class="card-text">HourlyRate:</label>
                <p class="card-text">@Model.Professional.HourlyRate</p>
            </li>
            <li class="list-group-item">
                <label class="card-text">Joined on:</label>
                <p class="card-text">@Model.Professional.MemberSince.ToString("MM/dd/yyyy")</p>
            </li>
            <li class="list-group-item">
                <label class="card-text">Rating:</label>
                <p class="card-text">@Model.Professional.Rating</p>
            </li>
        </ul>
        <div class="card-body">
            <label class="card-text">Edit Account Info:</label>
           @using (@Html.BeginForm("EditAccountInfo", "Professional",new {id = @Model.Username}, FormMethod.Post))
            {
                @Html.HiddenFor(m=>m.Professional.MemberSince);
                @Html.HiddenFor(m=>m.Professional.Rating);
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="@Model.Professional.Title" class="card-text">Title:</label>
                        <input type="text" asp-for="@Model.Professional.Title" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-md-12">
                        <label for="@Model.Professional.Location" class="card-text">Locaton:</label>
                        <input type="text" asp-for="@Model.Professional.Location" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-md-12">
                        <label for="@Model.Professional.AppointmentLengthInHours" class="card-text">Appointment Length:</label>
                        <input type="text" asp-for="@Model.Professional.AppointmentLengthInHours" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-md-12">
                        <label for="@Model.Professional.HourlyRate" class="card-text">HourlyRate:</label>
                        <input type="text" asp-for="@Model.Professional.HourlyRate" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-md-12">
                        <label for="@Model.Professional.Language" class="card-text">Language:</label>
                        <input type="text" asp-for="@Model.Professional.Language" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-md-12">
                        <label for="@Model.Professional.Bio" class="card-text">Bio:</label>
                        <input type="text" asp-for="@Model.Professional.Bio" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col">
                        <input class = "customButton" type="submit" value="Edit"/>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="col">
    @using (@Html.BeginForm("ProfessionalHome", "Professional",new {id = @Model.Username}, FormMethod.Get))
    {
    <input name ="Username" value = @Model.Username hidden = "true">
    <input class = "customButton" type="submit" value="Home"/>
    }
</section>