@model RevAppoint.Client.Models.ProfessionalViewModel;

Hello Professional: @Model.Username
<p>Account Infomation</p>

<section id="AccountInfo" class="col">
    <label class="row">Title: @Model.Professional.Title</label>
    <label class="row">Locaton: @Model.Professional.Location</label>
    <label class="row">Appointment Length: @Model.Professional.AppointmentLengthInHours</label>
    <label class="row">HourlyRate: @Model.Professional.HourlyRate</label>
    <label class="row">Language: @Model.Professional.Language</label>
    <label class="row">Bio: @Model.Professional.Bio</label>
    <label class="row">Rating: @Model.Professional.Rating</label>
</section>
<section class="col" id="EditForm">
    @using (@Html.BeginForm("EditAccountInfo", "Professional",new {id = @Model.Username}, FormMethod.Post))
    {
        @Html.HiddenFor(m=>m.Professional.Rating);
        <label for="@Model.Professional.Title" class="row">Title:</label>
        <input type="text" asp-for="@Model.Professional.Title">
        <label for="@Model.Professional.Location" class="row">Locaton:</label>
        <input type="text" asp-for="@Model.Professional.Location">
        <label for="@Model.Professional.AppointmentLengthInHours" class="row">Appointment Length:</label>
        <input type="text" asp-for="@Model.Professional.AppointmentLengthInHours">
        <label for="@Model.Professional.HourlyRate" class="row">HourlyRate:</label>
        <input type="text" asp-for="@Model.Professional.HourlyRate">
        <label for="@Model.Professional.Language" class="row">Language:</label>
        <input type="text" asp-for="@Model.Professional.Language">
        <label for="@Model.Professional.Bio" class="row">Bio:</label>
        <input type="text" asp-for="@Model.Professional.Bio">
        <input type="submit" class="row" value="Edit Account Info"/>
    }
</section>
<section class="col">
    @using (@Html.BeginForm("ProfessionalHome", "Professional",new {id = @Model.Username}, FormMethod.Get))
    {
    <input name ="Username" value = @Model.Username hidden = "true">
    <input type="submit" value="Home"/>
    }
</section>